{% macro input(name,label,value) %}

    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input type="text" name="{{ name }}" id="{{ name }}" value="{{ value }}" class="form-control" placeholder="{{ label }}">
    </div>

{% endmacro %}

{% macro inputRequired(name,label,value) %}

    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input type="text" name="{{ name }}" id="{{ name }}" value="{{ value }}" class="form-control" placeholder="{{ label }}" required>
    </div>

{% endmacro %}

{% macro inputNumber(name,label,value) %}

    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input type="number" step="any" name="{{ name }}" id="{{ name }}" value="{{ value }}" class="form-control" placeholder="{{ label }}">
    </div>

{% endmacro %}

{% macro inputNumberRequired(name,label,value) %}

    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input type="number" step="any" name="{{ name }}" id="{{ name }}" value="{{ value }}" class="form-control" placeholder="{{ label }}" required>
    </div>

{% endmacro %}



{% macro textarea(name,label,value) %}

    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <textarea name="{{ name }}" id="{{ name }}" class="form-control" placeholder="{{ label }}">{{ value }}</textarea>
    </div>

{% endmacro %}

{% macro textareaRequired(name,label,value) %}

    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <textarea name="{{ name }}" id="{{ name }}" class="form-control" placeholder="{{ label }}" required>{{ value }}</textarea>
    </div>

{% endmacro %}

{% macro date(name,label,value) %}

    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input type="date" name="{{ name }}" id="{{ name }}" value="{{ value }}" class="form-control" placeholder="{{ label }}" required>
    </div>

{% endmacro %}