{% extends 'base.twig' %}

{% block title %}Liste des Reservations{% endblock %}

{% block body %}

	<div class="row">
	    <section class="col-md-12 table-responsive">
	    	<header class="page-header">
		        <h1 class="h3 mb-4 text-gray-800">Liste des Reservations </h1>
		    </header>
			<div class="row">
				<div class="col-md-12">
					<br \><br \>
					<table class="table table-bordered table-striped table-condensed">
						<thead>
						<tr>
							<th>N°</th>
							<th>Date</th>
							<th>Passager</th>
                            <th>Phone</th>
							<th>Entree</th>
							<th>Sortie</th>
                            <th>Arrangement</th>
                            <th>Achat</th>
                            <th>Vente</th>
						</tr>
						</thead>
						<tbody>
						{% for reservation in reservations %}
							<tr>
								<td class="text-black">{{ reservation.id }}</td>
								<td class="text-black">{{ reservation.date }}</td>
                                <td class="text-black">{{ reservation.passager }}</td>
                                <td class="text-black">{{ reservation.phone }}</td>
                                <td class="text-black">{{ reservation.entree }}</td>
                                <td class="text-black">{{ reservation.sortie }}</td>
                                <td class="text-black">{{ reservation.arrangement }}</td>
                                <td class="text-black">{{ reservation.achat }}</td>
                                <td class="text-black">{{ reservation.vente }}</td>
							</tr> 

							<div class="modal fade" id="confirm-delete{{ restaurant.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											Confirmation de suppression
										</div>
										<div class="modal-body">
											Êtes-vous sûr de vouloir supprimer ce restaurant ?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
											<a class="btn btn-danger btn-ok" href="deleteRestaurant.php?id={{ room.id }}">Supprimer</a>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	    </section>
	</div>

	
{% endblock %}